.tag {
    border-bottom: 2px solid #000;
}

.tag-container {
    padding: 10px 0 10px 0;
    margin-top: 20px;
    margin-left: 110px;
    gap: 20px;
}

.tag-button {
    border: none;
    background-color: white;
    font-size: 24px;
}

.tag-button:hover {
    color: #FF5555;
}

.tag-button.active {
    color: #FF5555;
}

.page-content.hidden {
    display: none;
}

.page-content.active-content {
    display: grid;
}

.product-grid {
    max-width: 1230px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 40px;
}

.product-item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-item {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.product-image {
    background-color: #eee;
    color: #777;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name,
.product-price {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}



@media (max-width: 1024px) {
    .product-grid.active-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-grid.active-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .tag-container {
        margin-left: 50px;
    }
}

@media (max-width: 480px) {
    .product-grid.active-content {
        grid-template-columns: 1fr;
    }

    .tag-container {
        margin-left: 20px;
    }

    .product-item {
        padding: 10px;
    }

    .product-name,
    .product-price {
        font-size: 1em;
    }

    .product-image {
        height: 150px;
    }
}